{% extends 'base.html' %}

{% block content %}
    <h2>Login to MicroBlog</h2>
    <form action="{{ url_for('auth.login') }}" method="post">
        <div><label>Email: <input type="email" name="email" required/></label></div>
        <div><label>Password: <input type="password" name="password" required/></label></div>
        <div><input type="submit" value="Login"/></div>
    </form>
    <form action="{{ url_for('auth.signup') }}" method="get">
        <div><input type="submit" value="Sign Up"/></div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification">{{ message }}</div>
        {% endfor %}
    {% endwith %}
{% endblock %}